<h3>Leaving SF</h3>


<p>
I'm leaving San Francisco on Sunday. It's really crazy that I'm going from the west coast, to home (NY) for a week, then it's onto London, Spain and Greece and back to London for my semester abroad.<br>
I'm really looking forward to being abroad. Whenever I've been on a trip abroad in the past with friends I feel like a different person and have literally the best time.<br>
Regardless - I can only speculate on what my semester abroad will be like. I think it's important before leaving and focusing on goals or plans abroad I look back and think about what I've done this summer.<br>
-Created two (almost) fully functional websites using a language I've only learned at the beginning of this year<br>
-Wrote a hanful of webscrapers that will help save my company countless hours wasted<br>
-Participated in a hackathon at the infamous ycombinator with a freelance developer<br>
-Made friends with my coworkers at a 10 person startup (whole bunch of lessons here)<br>
-Made friends with my born in Cameroon, raised in France, and schooled in Atlanta<br>
-Explored san francisco<br>
-Learned a lot about making coffee<br>
-Logged countless hours biking<br>
Ya I guess that's about it. I still have a feeling of angst about leaving SF. There's a ton of food left uneaten, americano's undrank, code unwritten, and people unmet. This might be what gives me this angst.<br>
But then again I didn't have such a feeling when I left Israel only 2 months ago. I left Israel in the highest of spirits - dissapointed that I had to leave such a great place - but not angsty because I knew I had left no stone unturned.<br>
I hope I can avoid this feeling when it's time to leave London. Although some parts (read 'most parts') of life are out of my control.<br>
<br>
I think the really interesting part of living in San Francisco is everyone here is a go-getter. People aren't afraid to meet for coffee with someone that needs help or can give help on a project, or go code something up if they think it would provide value.<br>
Still - NY has a way faster lifestyle, but people here are more empowered by their technical abilities.<br>
There's a really dissapointing phenomenon in San Francisco though. We have all these really really smart people who have great educations and aren't wasting their skills, but could be using them in ways that provide greater benefit for the world around them. I know this isn't a new discovery but it's really sad to see a smart engineer try so hard to be a startup founder. It's like come on man, successful people weren't kidding when they say that perseverence is the most important thing - but at a certain point you have to maximizie for happiness.<br>
If starting a company will optimize your happiness then great, try to do that. But if it isn't working out and you haven't gotten anywhere after 5 years try something else. You need some stability in your life.<br>
It's also crazy how many people are out there saying they want to start a company... WTF does that mean? seriously - If you want to start a company either go do it because it's not that hard to sit down study an industry for a few hours and find something that could be done better. If you say you want to start a company and aren't currently doing that then what are you? That's like saying you're a doctor but want to be a banker... It's like "ok, sooo?? what are you gonna do about it?"<br>

Just look at the products built at the <a href="">Hackathon</a>. There are a ton of cool hacks built that are really impressive. But then you see someone else built something that can detect malaria and you think, "huh, what was I doing while they were building that?"<br>
<br>
<br>
Anyway - even though I can't say I'm a developer ninja now I definitely grew a lot as a developer this summer. I feel really empowered by the fact that I can create a website on my own really fast.<br>
<br>
This brings up another really confusing situation. I don't think I have any interest in becoming a front-end developer. I think it's the most interesting work I've done so far in my interning career, but that doesn't mean it would be interesting to me 5 days a week for at least 4 years. Front-end development can be hard- but it seems pretty static day to day. I mean that as in the problems you're working on aren't big. A front-end dev's job is 1st to make a website work 2nd to make it look and feel good.<br>
Whereas a back-end dev or statistician has to solve problems that make you just think "ok, this is hard I have no idea where to start and how to do this, but I can get it done."<br>
<br>
In reality I don't care much what the job is, I just want something that makes me feel like that.<br>
</p>
